h1 a{
    color: black;
    font-size: 50%;
    position: relative;
    top: 5pt;
    left: 5pt;
}

h2 {
    color: black;
    font-size: 200%;
    position: relative;
    top: 5pt;
    left: 150pt;
}

div form p input[type=text]{
    max-width: 400px;
    resize: both;
    position: relative;
    top: 10pt;
    left: 138pt;
}

div form p textarea {
    max-width: 1000px;
    resize: both;
    position: relative;
    top: 10pt;
    left: 138pt;
}

div form button{
    position: relative;
    top: 0pt;
    left: 138pt;
}


