h1 a {
    color: black;
    font-size: 45%;
    position: relative;
    top: 0pt;
    left: 8pt;
}

h2 a {
    color: black;
    font-size: 69%;
    position: relative;
    top: -20pt;
    left: 1059pt;
}

h3 a {
    color: red;
    font-size: 80%;
    position: relative;
    top: 430pt;
    left: 1050pt;
}

h4 {
    color: #333399;
    font-size: 150%;
    position: relative;
    top: -55pt;
    left: 145pt;
}

h5 {
    color: #b3003b;
    font-size: 160%;
    position: relative;
    top: -85pt;
    left: 250pt;
}

h6 {
    color: #333399;
    font-size: 150%;
    position: relative;
    top: -78pt;
    left: 145pt;
}
div {
    color: #b3003b;
    font-size: 150%;
    position: relative;
    padding: 10px;
    top: -80pt;
    margin-right: 170px;
    left: 130pt;
}

body{
    background-color: #2c2c2c;
    background-image: url('/static/img/fonaddd.png');
    background-size: cover;
    overflow: hidden;
}
