h1[id=view_notebooks] a {
    vertical-align: top;
    color: black;
    font-size: 43%;
    position: relative;
    top: 20pt;
    left: 3pt;
}

h1[id=add_note] a{
    vertical-align: top;
    color: black;
    font-size: 45%;
    position: relative;
    top: 15pt;
    left: 5pt;
}

h2[id=logout] a{
    vertical-align: top;
    color: black;
    font-size: 80%;
    position: relative;
    top: -45pt;
    right: 5pt;
}

h2[id=delete_notebook] a{
    color: red;
    font-size: 90%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

h2[id=update_name_notebook] a {
    color: #000066;
    font-size: 90%;
    position: absolute;
    bottom: 50px;
    right: 15px;
}

h3 {
    color: black;
    font-size: 200%;
    position: relative;
    top: -70pt;
    left: 150pt;
}

p a {
    font-size: 120%;
    color: #333399;
    position: relative;
    left: 150pt;
    top: -60pt;


}
