h1[id=view_notebooks] a {
    vertical-align: top;
    color: black;
    font-size: 45%;
    position: relative;
    top: 20pt;
    left: 5pt;
}

h1[id=add_note] a{
    vertical-align: top;
    color: black;
    font-size: 45%;
    position: relative;
    top: 15pt;
    left: 5pt;
}

h2[id=logout] a{
    vertical-align: top;
    color: black;
    font-size: 80%;
    position: relative;
    top: -45pt;
    right: 5pt;
}

h3[id=delete_notebook] a{
    vertical-align: bottom;
    color: red;
    font-size: 90%;
    position: relative;
    top:410pt;
    right: 5pt;
}

h5 a {
    color: #000066;
    font-size: 120%;
    position: relative;
    top: 350pt;
    left: 970pt;
}

h6 {
    color: black;
    font-size: 200%;
    position: relative;
    top: -122pt;
    left: 160pt;
}

p a {
    color: #333399;
    position: relative;
    top: -112pt;
    left: 160pt;

}