h1[id=view_notebooks] a {
    vertical-align: top;
    color: black;
    font-size: 43%;
    position: relative;
    top: 20pt;
    left: 3pt;
}

h1[id=add_notebook] a{
    color: black;
    font-size: 45%;
    position: relative;
    left: 4pt;
    top: 4pt;
}

h2[id=logout] a{
    color: black;
    font-size: 80%;
    position: relative;
    top: -45pt;
    right: 4pt;

}

h3[id=user-list] a{
    color: #2e004d;
    font-size: 100%;
    position: absolute;
    bottom: 50px;
    right: 15px;
}

h4[id=notebooks] {
    color: black;
    font-size: 200%;
    position: relative;
    right: 28%;
    top: -75pt;
}

p a{
    color: #333399;
    font-size: 130%;
    position: relative;
    right: 31%;
    top: -67pt;
}