{% extends 'addNote/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'addNote/css/viewe_user_title.css'%}">
{% endblock %}

{% block content %}
<h1><a href="{% url 'viewint_title' %}">View my title</a> </h1>
<h2><a href="{% url 'addnote' %}">Create new note</a> </h2>
<h3><a href="{% url 'logout' %}">Logout</a></h3>
<h4> Yor title note: </h4>

{% for item in info %}
    <p><a href="{% url 'view_notess' item.id %}"><b>{{item.title}}</b></a>- {{item.data}} {{ item.id }}</p>
{% endfor %}

{% endblock %}