{% extends 'accounts/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css'%}">

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    <p>{{ login_form|crispy }}</p>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
  <h2>Forgot password?<a href="reset_password">Forgot password </a></h2>
</div>

{% endblock %}