h1 {
    color: #333399;
    font-size: 150%;
    position: relative;
    top: 20pt;
    left: 145pt;
}

h2 {
    color: black;
    font-size: 150%;
    position: relative;
    top: 30pt;
    left: 145pt;
}

h3 {
    color: #333399;
    font-size: 150%;
    position: relative;
    top: 43pt;
    left: 145pt;
}

h4 {
    color: black;
    font-size: 150%;
    position: relative;
    top: 55pt;
    left: 145pt;
}