h1 a {
    color: black;
    font-size: 45%;
    position: relative;
    top: 2pt;
    left: 8pt;
}

h2 a{
    color: black;
    font-size: 60%;
    position: relative;
    top: 3pt;
    left: 8pt;
}

h3 a{
    color: black;
    font-size: 80%;
    position: relative;
    top: -65pt;
    left: 1070pt;
}

h4 {
    color: black;
    font-size: 200%;
    position: relative;
    top: -100pt;
    left: 170pt;
}

p a {
    color: #333399;
    position: relative;

}

p {
    color: black;
    position: relative;
    top: -90pt;
    left: 150pt;
}

body{
    background-color: #2c2c2c;
    background-image: url('/static/img/fonaddd.png');
    background-size: cover;
    overflow: hidden;
}

