ul {
    border-left: 150px;
    background-color: #f1f1f1;
}


p a {
    color: #333399;
    position: relative;

}

p {
    color: black;
    position: relative;
    top: 25pt;
    left: 150pt;
}
h1 {
    color: black;
    font-size: 200%;
    position: relative;
    top: 14pt;
    left: 150pt;
}


h2 a{
    color: black;
    font-size: 60%;
    position: relative;
    top: -134pt;
    left: 12pt;
}

h3 a{
    color: black;
    font-size: 68%;
    position: relative;
    top: -203pt;
    left: 15pt;
}

