{% extends 'notes/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'notes/css/notebook.css'%}">
{% endblock %}

{% block content %}
<h1><a href="{% url 'view notebooks' %}">View my notebook</a> </h1>

<h2><a href="{% url 'add_note' idnotebook %}">Create new note</a> </h2>

<h3><a href="{% url 'logout' %}">Logout</a></h3>

<h4><a href="{% url 'delete_notebook' idnotebook %}"> Delete Notebook </a> </h4>

<h5><a href="{% url 'update_name_notebook' idnotebook %}"> Edite name Notebook </a> </h5>

<h6> Notebook - {{notebook.name_notebook}}: </h6>

{% for item in title %}
    <p><a href="{% url 'view_notess' item.id_notebook item.id %}"><b>{{item.title}}</b></a></p>
{% endfor %}



{% endblock %}
