{% extends 'notes/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'notes/css/register.css'%}">

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
		<p>{{ register_form|crispy }}<p>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}