h1 a {
    color: black;
    font-size: 45%;
    position: relative;
    top: 0pt;
    left: 8pt;
}

h2 a {
    color: black;
    font-size: 69%;
    position: relative;
    top: -20pt;
    left: 1059pt;
}

h3 a {
    color: red;
    font-size: 80%;
    position: relative;
    top: 430pt;
    left: 1050pt;
}

h4 a {
    color: #000066;
    font-size: 100%;
    position: relative;
    top: 380pt;
    left: 1051pt;
}

h5 {
    color: #333399;
    font-size: 150%;
    position: relative;
    top: -116pt;
    left: 145pt;
}

h6 {
    color: #b3003b;
    font-size: 160%;
    position: relative;
    top: -144pt;
    left: 230pt;
}

h7 {
    color: #333399;
    font-size: 150%;
    position: relative;
    top: -134pt;
    left: 145pt;
}
div {
    color: #b3003b;
    font-size: 150%;
    position: relative;
    padding: 10px;
    top: -130pt;
    margin-right: 170px;
    left: 150pt;
}

body{
    background-color: #2c2c2c;
    background-image: url('/static/img/fonaddd.png');
    background-size: cover;
    overflow: hidden;
}
