h1 a {
    color: black;
    font-size: 45%;
    position: relative;
    top: 2pt;
    left: 8pt;
}

h2 a{
    color: black;
    font-size: 60%;
    position: relative;
    top: 3pt;
    left: 8pt;
}

h3 a{
    color: black;
    font-size: 80%;
    position: relative;
    top: -50pt;
    left: 1060pt;
}

h4 a {
    color: red;
    font-size: 100%;
    position: relative;
    top: 400pt;
    left: 1000pt;
}

h5 a {
    color: #000066;
    font-size: 120%;
    position: relative;
    top: 350pt;
    left: 970pt;
}

h6 {
    color: black;
    font-size: 200%;
    position: relative;
    top: -122pt;
    left: 160pt;
}

p a {
    color: #333399;
    position: relative;
    top: -112pt;
    left: 160pt;

}